body {
    background-color: #ffe6f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

h1 {
    color: #d6336c;
    margin-top: 20px;
}

nav {
    background-color: #ffb6c1;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    background-color: #fff0f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d6336c;
    margin-bottom: 15px;
}

#about img,
#image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px auto;
    border: 3px solid #ffb6c1;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #ffe6f0;
}

th,
td {
    border: 1px solid #c27681;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffb6c1;
    color: white;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #ffe6f0;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #f797a5;
}

footer {
    background-color: #c27681;
    color: white;
    padding: 10px;
    text-align: center;
}